body {
    padding-top: 50px;
    color: #5a5a5a;
    background-color: #d3d3d3;
}
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
.carousel-caption {
    z-index: 10;
}
.carousel .item {
    height: 500px;
    background-color: gray;
}
nav.navbar{
    background-color: #d3d3d3;
}

